<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./yourProducts.css">
    <title>Products</title>
</head>
<body>
    <header>
        <a href="">   
            <svg xmlns="http://www.w3.org/2000/svg"  class="icon" width="100" height="100" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
            </svg>
        </a>
        </header>
    <h1>TUS PRODUCTOS</h1>
    
    <main>
        <section class="caja-verde">
            <img class="Sham" src="./img/Shampoo.jpg" alt="">
            <img class="wax" src="./img/wax.jpg" alt="">
            <img class="mino" src="./img/minoxidil.jpg" alt="">
        </section>
        <section class="caja-roja">
            <img class="cond" src="./img/conditioner.jpg" alt="">
            <img class="crem" src="./img/cream.jpg" alt="">
            <img class="loti" src="./img/Lotion.jpg" alt="">
        </section>
    </main>

<footer class="caja-amarilla">
    <input type="button" value="Modificar">
    <input type="button" value="Eliminar">
</footer>
</body>
</html>