:root{
    --first-color:#f3f3f3;
    --second-color:#310D0D;
    --colorBackground1: #180E0E;
    --buttonColor: #745E5D;
    --colorText: #ffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

h1{
    color: var(--colorText);
    font-size: 10vh;
    text-align: center;
}

h2{
    font-size: 5vh;
    padding: 5vh;
}

h3{
    font-size: 4vh;
    margin: 2vh;
}

p{
    font-size: 30px;
}
a{
    font-size: 2vh;
    letter-spacing: 0.3vh;
    text-decoration: none;
    color: var(--colorText);
    margin: 0 50px;
}

/* Comienzo sección barra de navegación */

nav{
    width: 100%;
    background-color: var(--colorBackground1);
    display: flex;
    align-items: center;
    height: 6vh;
    position: fixed;
    z-index: 1;
}

.navContent{
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-right: solid var(--colorText) 2px;
}

.login{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

a:hover{
    color: gray;
    transition: ease-in all 0.2s;
}

/* Comienzo seccion encabezado */

header{
    background-image: url("./img/banner.jpeg") ;
    background-position: center;
    position: relative;

    color: var(--colorText);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

header::before {
    content: "";
    position: absolute; /* Aquí establecemos la posición absoluta en el elemento padre */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Aquí establecemos el color de fondo semitransparente */
    z-index: -1;
}

.mainTittle{
    position: relative;
    z-index: 1;
    padding-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Comienzo sección de servicios */

.SERVICES{
    height: 90vh;
    background-color: var(--colorText);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicesHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicesGallery{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.serviceImg{
    height: 60vh;
}

.service{
    text-align: center;
}

/* Comienzo sección de productos */

.productTittle{
    text-align: center;
    margin-top: 29px;
    color: var(--first-color);
}

.PRODUCTS{
    background-color: var(--colorBackground1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.box{
    width: 100%;
    height: 30vh;
    position: relative;
    overflow: hidden;
    margin: 2vh;
    border-radius: 10px;
    box-shadow: 0px 15px 10px;
    cursor: pointer;
}

.imgProduct{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.imgProduct:hover{
    transform: scale(9);
}

.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity:0 ;
    transition: 0.8s ease;
    color: var(--first-color);
    text-align: center;
}

.capa:hover{
    position: absolute;
    opacity: 2;
}

.productActions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartAction{
    border: solid rgba(255, 255, 255, 0) 1px;
    background-color: var(--buttonColor);
    margin: 20px;
    height: 5vh;
    width: 30vh;
    cursor: pointer;
}

.cartAction:hover{
    border: solid white 1px;
    background-color: rgba(116, 94, 93, 0.8);
    transition: ease-in all 0.3s;
}

/* Comienzo seccion de clientes */

.CLIENTS{
    background-color: var(--first-color);
    width: 100%;
    height: 75vh;
}

.clientsTittle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.clientsGallery{
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    overflow-x: auto;
}

.clientImg{
    height: 50vh;
    padding: 0 20px;
}

.BARBERS{
    background-color: var(--colorBackground1);
    height: 100vh;
    color: var(--colorText);
}

.barbersTittle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barbersContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barber{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.barberDescription{
    font-size: 2.5vh;
    margin: 2vh auto;
    color: rgb(187, 187, 187);
}

.barberName{
    margin: 2vh auto;
    color: var(--buttonColor);
}

.barberImg{
    width: 30vh;
    margin: auto;
}