*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    opacity: 0;
    animation: fadeIn ease-in-out 0.5s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0.6;}
    100% {opacity: 1;}
}

h2{
    font-size: 7vh;
    padding: 7vh;
    color: white;
}

h3{
    font-size: 3vh;
    margin: 2vh;
}

p{
    font-size: 3vh;
    color: white;
}

.BARBERS{
    height: 100vh;
    background-image: url("/img/banner.jpg") ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.BARBERS::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}

.backIcon{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 5vh;
    height: 5vh;
}

.barbersTittle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barbersContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barber{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.barberName{
    margin: 2vh auto;
    color: rgb(216, 216, 216);
}

.barberImg{
    width: 40%;
    margin: auto;
}

.barberDescription{
    font-size: 2.5vh;
    margin: 2vh auto;
    color: gb(216, 216, 216);
    text-align: center;
}

.barberActions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productActions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action{
    color: black;
    background-color: white;
    font-size: 2vh;
    font-weight: 600;
    margin: 3vh;
    height: 5vh;
    width: 30vh;
    border-radius: 1vh;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.action:hover{
    border: solid white 0.2vh;
    background-color: transparent;
    transition: ease-in all 0.2s;
    color: white;
}