<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./yourBarbers.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap" rel="stylesheet">
    <title>TopNotch Barbershop</title>
</head>
<body>
    <section class="BARBERS"  id="anchorBarbers">

        <a href="/layouts/admin/adminOptions/adminOpt.html">    
            <svg class="backIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                <path d="M15 12h-12l3 -3" />
                <path d="M6 15l-3 -3" />
              </svg>
        </a>

        <section class="barbersTittle">
            <h2>TUS BARBEROS</h2>
        </section>

        <section class="barbersContainer">
            <section class="barber">
                <h3 class="barberName">Gustavo</h3>
                <img class="barberImg" src="/img/barbers/barber3.png" alt="">
                <p  class="barberDescription">Gustavo es un barbero amigable y conversador que se preocupa por la comodidad y la experiencia de sus clientes. Ofrece una variedad de servicios, desde cortes de pelo hasta afeitados, y siempre busca crear un ambiente relajado y acogedor en la barbería.</p>
            </section>

            <section class="barber">
                <h3 class="barberName">Sebastian</h3>
                <img class="barberImg" src="/img/barbers/barber1.png" alt="">
                <p  class="barberDescription">Juan es un barbero creativo y moderno que está al tanto de las últimas tendencias en peinados y estilos. A menudo incorpora técnicas innovadoras en sus cortes de pelo y siempre está dispuesto a asesorar a sus clientes.</p>
            </section>

            <section class="barber">
                <h3 class="barberName">Jorge</h3>
                <img class="barberImg" src="/img/barbers/barber2.png" alt="">
                <p class="barberDescription">Jorge es un barbero experimentado y meticuloso que se enfoca en cortes de pelo clásicos y detallados. Siempre toma su tiempo para asegurarse de que el cliente esté satisfecho con su nuevo aspecto.</p>
            </section>

        </section>
        <section class="productActions">
            <a href="" class="action">Modificar</a>

            <a href="" class="action">Eliminar</a>
        </section>
    </section>
</body>
</html>