*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% {opacity: 0.6;}
    100% {opacity: 1;}
}
h1{
    font-size: 7vh;
}
h2{

    text-align: center;
    margin-top: 4vh;
}
img{
    width: 40vh;
    margin: 2vh;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.title{
    text-align: center;
}
.icon{
    width: 8vh;
}
.paymentMethod{
    margin: 0 10vh;
}
.imgPayment{
    margin-top: 7vh;
    text-align: center;
}
.buy{
    width: 100%;
   text-align: center;
}
.btn{
    font-size: 3vh;
    margin-top: 5vh;
     width: 25vh;
     height: 10vh;
     border-radius: 2vh;
     background-color: rgb(66, 50, 19);
     color: white;
}
.btn:hover{
    background-color:rgba(66, 50, 19, 0.329);
    transition: 0.6s;
    cursor: pointer;
}
@media( max-width:800px){
    .paymentMethod{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgPayment{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows: 1fr 1fr;
    }
    img{
        border-top: 1px solid grey;
        padding: 2vh;
        width: 20vh;
        border-bottom: none;
    }
    img:nth-child(1){
    border-top:none;
    }
     img:nth-child(2){
    border-top:none;
    }
    
}