<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./gateway.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap" rel="stylesheet">
    <title>TopNotch Barbershop</title>
</head>
<body>
    <a href="/layouts/client/shoppingCart/shoppingCart.html">    
        <svg class="backIcon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
            <path d="M9 12h12l-3 -3" />
            <path d="M18 15l3 -3" />
        </svg>
    </a>

    <h2>COMPRAR PRODUCTO</h2>
    
    <section class="payMethods">
        <h3>Métodos de pago</h3>
        <article>
            <img src="./img/bancolombia.png" alt="">
            <img src="./img/paypal.png" alt="">
            <img src="./img/mastercard.webp" alt="">
            <img src="./img/nequi.webp" alt="">
        </article>
    </section>

    <section class="buyButton">
        <a class="back" href="">Comprar</a>
    </section>
</body>
</html>