<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="yourServices.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap" rel="stylesheet">
    <title>TopNotch Barbershop</title>
</head>
<body>

        <a href="/layouts/admin/adminOptions/adminOpt.html">    
            <svg class="backIcon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
            </svg>
        </a>

        <section class="servicesHeader">
            <h2>TUS SERVICIOS</h2>
        </section>
    
        <article class="servicesGallery">
            <section class="service">
                <img class="serviceImg" src="/img/Services/cejas.jpg" alt="">
                <h3>Perfilado de cejas</h3>
            </section>
            <section class="service">
                <img class="serviceImg" src="/img/Services/afeitado.jpg" alt="">
                <h3>Afeitado</h3>
            </section>
            <section class="service">
                <img class="serviceImg" src="/img/Services/corte.jpg" alt="">
                <h3>
                    Corte de cabello
                </h3>
            </section>
        </article>

        <div class="actions">
            <button>Modificar</button>
            <button>Eliminar</button>
        </div>
</body>
</html>