*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 320vh;
    background-image:url(../img/clipper.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:scroll;
}
img{ /* todas las imagenes deberian de quedar con ese tamaño*/
    width: 24vh;
    cursor: pointer;
    border-radius: 6vh;
    padding: 2vh;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    
}
h2,h3{
    margin-top: 2vh;
    text-align: center;
    margin-bottom: 2vh;
    color: white;
}
.container{ /* este pratica mente es el padre de todo 
    ese margin es para que tenga los espaciados hacia los lados 
    y no quede pegado  */
    margin: 12vh 20vh 0 20vh;
    border-bottom: 1px solid white;
    background-color: rgba(80, 77, 77, 0.685);
    color: white;
    border-radius: 4vh;
    transition: 1s;
}
.container:hover{
    margin: 12vh 15vh 0 15vh;
    background-color: rgba(19, 16, 16, 0.856);

}
.price{ /* el precio*/
    text-align: center;
    padding: 1vh;
}
.paragraph{/* es el parrafo */
    margin-top: 6vh;
    width: 100vh;
}
.info{  /* es el que deja que la imagen quede al lado del parrafo */
    display: flex;
    gap: 40px;
}
.back{ /* este es el home  boton  izquierdo inferior*/
    width: 87%;
    height: 20vh;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 4vh;
    color: white;
    text-decoration: none;
    font-size: 3vh;
}

   