*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

:root{
    --colorTextPrimary : white;
    --colorTextSecondary: rgb(206, 206, 206);
}

body {
    opacity: 0;
    animation: fadeIn ease-in-out 0.5s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0.6;}
    100% {opacity: 1;}
}

h1{
    font-size: 6vh;
    color: white;
}

h2{
    font-size: 3vh;
    color: white;
}

p{
    font-size: 5vh;
    color: white;
}


header{
    text-align: center;
}

body{
    height: 100vh;
    background-image: url(/img/barberTools.webp);
    background-size: cover;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80vh;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10vh;
    border: solid rgb(185, 185, 185) 0.3vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    
    position: relative;
}

.backIcon{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 5vh;
    height: 5vh;
}

.appointmentsRow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10vh;
}

.appointment{
    display: flex;
    justify-content: space-around;
}

.appActions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action{
    color: black;
    background-color: white;
    cursor: pointer;

    font-size: 2vh;
    font-weight: 600;
    margin: 3vh;
    height: 5vh;
    width: 30vh;
    border-radius: 1vh;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 80%;
    border-top: solid white 0.2vh;
}

.action:hover{
    border: solid white 0.2vh;
    background-color: transparent;
    transition: ease-in all 0.2s;
    color: white;
}

@media (max-width: 950px) {
    .backIcon{
        top: 1%;
        left: 45%;
    }

    body{
        height: 100%;
    }

    h1{
        padding: 2vh;
        font-size: 200%;
    }
    
    h2{
        font-size: 2vh;
        color: white;
    }
    
    p{
        font-size: 4vh;
        border-bottom: 0.2vh solid white;
        padding-bottom: 3vh;
    }
    .appointmentsRow{
        flex-wrap: wrap;
    }

    .container{
        height: 100%;
    }

    .line{
        border: 0;
    }

    .container{
        width: 90%;
    }
}

@media (max-width: 550px) {
    body{
        height: 200vh
    }


}