<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./appointmentsAv.css">
    <title>TopNotch Barbershop</title>
</head>
<body>

    <section class="container">

        <a href="/index.html">
            <svg  class="backIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
        </a>

        <header>
            <h1>PROXIMAS CITAS DISPONIBLES</h1>
            <H2>Dia/Mes/Hora</H2>
        </header>

        <section class="appointmentsRow">
            <p>15/05 - 9:00</p>
            <p>15/05 - 10:00</p>
            <p>15/05 - 15:00</p>
        </section>

        <section class="line"></section>
        
        <section class="appointmentsRow">
            <p>16/05 - 11:00</p>
            <p>15/05 - 13:30</p>
            <p>15/05 - 15:30</p>
        </section>
        
        <section class="line"></section>

        <section class="appointmentsRow">
            <p>17/05 - 9:40</p>
            <p>15/05 - 14:00</p>
            <p>15/05 - 17:00</p>
        </section>

        <section class="appActions">
            <a class="action" href="">Agendar cita</a>
        </section>

    </section>
</body>
</html>