body{
    background-color: #180E0E;
    height: 100vh;
}

h1{
    font-size: 300%;
    margin-top: 3%;
    text-align: center;
    color: white;
}

h3{
    font-size: 190%;
    color: white;
}

.Barbers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    width: 20%;
    height: 20%;
    margin: 2%;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 170%;
}

button{
    margin-top: 5%;
    margin: 7%;
    background-color: white;
    width: 20%;
    height: 90%;
    font-size: 180%;

}