<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./shoppingCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap" rel="stylesheet">
    <title>TopNotch Barberhsop</title>
</head>
<body>
    <a href="/index.html">
        <svg  class="homeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
        </svg>
    </a>
    <h1>TU CARRITO</h1>
        <section class="section">
        <section class="container">
            <div >
                <div class="info">
                    <div>
                        <img src="/img/productos/shampo.webp" alt="shampoo">
                    </div>
                    <div class="description">
                        <h2>Shampoo</h2>
                        <div class="contentPc">
                        <p class="paragraph">Nuestro shampoo de barbería es el producto perfecto para aquellos 
                        hombres que buscan una limpieza profunda y refrescante. Formulado con naturales como el aceite de menta y la jojoba, este shampoo 
                        no solo limpia el cabello y el cuero cabelludo, sino que también ayuda a 
                        hidratar y nutrir el cabello, dejándolo suave y manejable.</p>
                    </div>
                    <div class="contentCellphone">
                        <p>
                            Shampoo de barbería para hombres: limpieza profunda  y refrescante.
                            Con aceite de menta y jojoba, limpia, hidrata y nutre el cabello. Suave y manejable.
                        </p>
                    </div>
                    <p class="price">$ 18.000</p>
                </div>
            </div>
            </div>
        </section>
        <section class="container">
            <div >
                <div class="info">
                    <div class="img" >
                        <img src="/img/productos/acondicionador men.webp" alt="acondicionador">
                    </div>
                    <div class="description">
                        <h2>Acondicionador</h2>
                        <div class="contentPc">
                            <p class="paragraph">Nuestro acondicionador de barbería es el producto ideal para hombres con 
                                cabello seco y dañado. Formulado con ingredientes de alta calidad como el aceite 
                                de argán y la proteína de trigo hidrolizada, este acondicionador nutre y fortalece 
                                el cabello desde la raíz hasta las puntas, dejándolo suave y manejable.</p>
                            </div>
                            <div class="contentCellphone">
                                Acondicionador de barbería para cabello seco y dañado. Con aceite
                                de argán y proteína de trigo, nutre y fortalece el cabello, dejándolo suave y manejable.
                            </div>
                            <p class="price">$ 15.000</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div >
                <div class="info">
                    <div class="imgContainer">
                        <img src="/img/productos/minoxidil.jpg" alt="minoxidil ">
                    </div>
                    <div class="description">
                        <h2>Minoxidil</h2>
                        <div class="contentPc">
                            <p class="paragraph" >estimula el crecimiento del cabello. Ideal para hombres con pérdida de cabello. Fórmula  
                                 eficaz que nutre los folículos y promueve un cabello más grueso y saludable.
                                  Recupera tu confianza con Minoxidil</p>
                                </div>
                                <div class="contentCellphone">
                                    <p> estimula crecimiento del cabello.
                                        Fórmula eficaz que nutre folículos, promoviendo cabello más grueso y saludable. Recupera tu confianza.</p>
                                    </div>
                                    <p class="price">$ 25.000</p>
                                    </div>
                            </div>
                    </div>
        </section>
        <section class="container">
            <div >
                <div class="info">
                    <div class="imgContainer">
                        <img src="/img/productos/crema.jpg" alt="crema para peinar">
                    </div>
                    <div class="description">
                        <h2>Crema para peinar</h2>
                        <div class="contentPc">
                            <p class="paragraph"> doma y estiliza tu cabello. Fórmula ligera y versátil para un peinado impecable. 
                                Aporta brillo, control y suavidad. Cabello manejable y sin frizz. 
                                ¡Luce tu estilo con confianza!.</p>
                            </div>
                            <div class="contentCellphone">
                                estilo perfecto para tu cabello. Fórmula ligera que controla el frizz, 
                                aporta brillo y suavidad. 
                            </div>
                            <p class="price">$ 30.000</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div >
                <div class="info">
                    <div class="imgContainer">
                        <img src="/img/productos/gel.jpg" alt="Gel fijador">
                        
                    </div>
                    <div class="description">
                        <h2>Gel fijador</h2>
                        <div class="contentPc">
                            <p class="paragraph">máxima sujeción y estilo duradero. Define tu look sin residuos. Mantén tu peinado impecable todo el día.
                                 Domina tu estilo con confianza y presume de un cabello perfecto. 
                                 ¡Deslumbra con tu estilo único!
                            </p>
                        </div>
                        <div class="contentCellphone">
                            <p>estilo duradero y sin residuos. Define tu look y mantén el control todo el día. 
                                Domina tu estilo con confianza y presume de un cabello impecable. </p>
                            </div>
                            <p class="price">$ 23.000</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div >
                <div class="info">
                    <div class="imgContainer"> 
                        <img src="/img/productos/LociónCapilar.png" alt="locion capilar">
                        
                    </div>
                    <div class="description">
                        <h2>Loción capilar</h2>
                        <div class="contentPc">
                            <p class="paragraph"> 
                                revitaliza y fortalece tu cabello. Estimula el crecimiento y nutre los folículos para un cabello más saludable. 
                                Recupera la vitalidad y brillo. ¡Presume de un cabello radiante 
                                y lleno de vida con nuestra loción capilar!
                            </p>
                        </div>
                        <div class="contentCellphone">
                            <p>
                                revitaliza y fortalece el cabello. Estimula el crecimiento 
                                 Cabello más fuerte y radiante. 
                            </p>
                        </div>
                        <div class="price">34.000</div>
                    </div>
                </div>
            </div>
        </section>
    </section> 
    <section class="buyButton">
        <a class="back" href="/layouts/client/paymentGateway/gateway.html"> Comprar </a>
    </section>
</body>
</html>