<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./appointments.css">
    <title>TopNotch Barbershop</title>
</head>
<body>

    <section class="container">

        <a href="/layouts/barber/barberOptions/barberOpt.html">    
            <svg class="backIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                <path d="M15 12h-12l3 -3" />
                <path d="M6 15l-3 -3" />
              </svg>
        </a>

        <header>
            <h1>TUS PRÓXIMAS CITAS</h1>
            <H2>Dia/Mes/Hora</H2>
        </header>

        <section class="appointmentsRow">
            <p>15/05 - 8:00</p>
            <p>15/05 - 12:00</p>
            <p>15/05 - 18:00</p>
        </section>

        <section class="line"></section>
        
        <section class="appointmentsRow">
            <p>16/05 - 7:00</p>
            <p>16/05 - 10:00</p>
            <p>16/05 - 15:00</p>
        </section>
        
        <section class="line"></section>

        <section class="appointmentsRow">
            <p>17/05 - 9:00</p>
            <p>17/05 - 10:00</p>
            <p>17/05 - 20:00</p>
        </section>

        <section class="appActions">
            <a class="action" href="">Cancelar cita</a>
        </section>

    </section>
</body>
</html>